//Colors
$color-bg: #bfbfbf;

$color-primary: #bfbfbf;
$color-primary-clicked: #999;

$color-secondary: #f4b01e;
$color-tertiary: #33384c;

$color-accent-dark: #657490;
$color-accent-light: #9aa8bf;

$color-text-main: #242423;

$color-outline: #666666;

$color-white: #fff;
$color-black: #000;

//Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;

//font
$default-font-size: 1.6rem;
$font-weight-light: 100;
$font-family-main: 'Raleway', sans-serif;
$font-family-accent: 'Limelight', cursive;

$tile-gutter: 1rem;

//border
$border-radius-small: 5px;
$border-radius-large: 10px;
