body {
   font-family: $font-family-main;
   font-weight: 400;
   /* font-size: 16px; */
   line-height: 1.7;
   color: $color-text-main;
}

.heading {
   max-height: 10%;
   background-color: black;
}

.heading-primary {
   text-transform: uppercase;
   backface-visibility: hidden;
   margin-bottom: 1rem;

   &--main {
      font-family: $font-family-accent;
      color: $color-secondary;
      display: block;
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: 1rem;
      animation: moveInLeft 2s;
      animation-delay: 0.5s;
      animation-timing-function: ease-out;
   }

   &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation: moveInRight 2s;
      animation-delay: 0.5s;
      animation-timing-function: ease-out;
   }
}

.paragraph {
   font-size: $default-font-size;

   &:not(:last-child) {
      margin-bottom: 3rem;
   }
}
