@import '../abstracts/variables';
@import '../abstracts/mixins';

.Button {
   font-family: inherit;
   font-size: 2rem;
   padding: 2rem;
   margin: 2rem;
   border: 2px solid $color-outline;
   border-radius: $border-radius-large;
   background-color: transparent;
   color: $color-text-main;
   transition: all 0.2s;
   @include shadow;

   &:focus {
      border: 2px solid $color-outline;
      outline: none;
   }

   &:active {
      transform: translateY(0.2rem);
      background-color: $color-secondary;
      @include shadowActive;
   }

   &.active {
      background-color: $color-secondary;
      @include shadowActive;
   }
}
