.App {
   position: relative;
}

body {
   background-color: white;
}

.ch5-button--primary button {
   padding: 2rem;
   background-color: blue;
   color: yellow;
}

.ch5-button--pressed button {
   padding: 2rem;
   background-color: orange;
   color: red;
}
